#tk-lead-questionnaire hr {
    display: block;
    margin: 30px auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
}

#tk-lead-questionnaire {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#tk-lead-questionnaire h1 {
    text-align: center;
    font-size: 2.5em;
    line-height: 1.1em;
    margin-bottom: 20px;
}

#tk-lead-questionnaire .tk-question {
    margin-bottom: 20px;
    min-height: 370px;
}

#tk-lead-questionnaire .tk-answers {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tk-lead-questionnaire .tk-image {
    flex: 1;
}

#tk-lead-questionnaire .tk-question h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    flex: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#tk-lead-questionnaire .tk-answer-section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tk-lead-questionnaire .tk-question .tk-answer {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    height: auto;
    width: auto;
    min-width: 100px;
    max-width: 400px;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
}

#tk-lead-questionnaire .tk-buttons button {
    min-width: 100px;
    min-height: 50px;
}

#tk-lead-questionnaire .tk-buttons button:disabled {
    background: #F5F5F5;
    color : #C3C3C3;
    cursor: not-allowed;
}

#tk-lead-questionnaire .tk-question .tk-answer:hover {
    cursor: pointer;
}

#tk-lead-questionnaire .tk-results-section {
    margin-top: 20px;
    min-height: 370px;
}

#tk-lead-questionnaire .tk-results-section h2 {
    font-weight: bold;
}

#tk-lead-questionnaire .tk-question:not(.tk-question-first),
#tk-lead-questionnaire #tk-results-section,
#tk-lead-questionnaire .tk-results-hidden {
    display: none;
}