<style>
    #tk-lead-questionnaire .tk-question .tk-selected {
        color: {{ button_text_color_selected }};
        background-color: {{ button_background_color_selected }};
    }

    #tk-lead-questionnaire .tk-question .tk-answer:hover {
        color: {{ button_text_color_hover }};
        background-color: {{ button_background_color_hover }};
    }

    #tk-lead-questionnaire .tk-buttons button {
        color: {{ button_previous_text_color }};
        background-color: {{ button_previous_background_color }};
    }
</style>
<div id='tk-lead-questionnaire'>

    <input type="hidden" class="tk-lead-formal" value="{{ formal }}">

    <h1>Passt {{ studio_name }} zu mir?</h1>
    <hr>

    <div class="tk-question-section">

        <div class="tk-question tk-question-first tk-question-current" id="tk-question-gender">
            <h2>Ich bin...</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-question-age">
                        Weiblich
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-age">
                        Männlich
                    </div>
                </div>
            </div>
        </div>

        <div class="tk-question" id="tk-question-age">
            <h2>Mein Alter in Jahren ist...</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-question-goal">
                        unter 30
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-goal">
                        30 bis 49
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-goal">
                        50 und mehr
                    </div>
                </div>
            </div>
        </div>

        <div class="tk-question" id="tk-question-goal">
            <h2>Ich interessiere mich am meisten für:</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-answer="tk-goal-abnehmen" data-next-question="tk-question-goal-experience">
                        Figur und Körpergewicht
                    </div>
                    <div class="tk-answer" data-answer="tk-goal-ruecken" data-next-question="tk-question-goal-experience">
                        Rücken und Gelenke kräftigen
                    </div>
                    <div class="tk-answer" data-answer="tk-goal-ausdauer" data-next-question="tk-question-goal-experience">
                        Ausdauer, Kraft und Beweglichkeit
                    </div>
                    <div class="tk-answer" data-answer="tk-goal-fitness" data-next-question="tk-question-goal-experience">
                        Fit, vital und gesund zu sein
                    </div>
                </div>
                <img class="tk-image" src="/wp-content/plugins/tkt-leads/img/mann-uebergewicht.jpg"/>
            </div>
        </div>

        <div class="tk-question" id="tk-question-goal-experience">
            <h2 class="tk-question-headline-experience">Habe ich Erfahrungen mit ZIEL</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-answer="tk-answer-goal-experience-none" data-next-question="tk-question-goal-scope">
                        Nein, keine
                    </div>
                    <div class="tk-answer" data-answer="tk-answer-goal-experience-low" data-next-question="tk-question-goal-scope">
                        Sehr wenige
                    </div>
                    <div class="tk-answer" data-answer="tk-answer-goal-experience-high" data-next-question="tk-question-goal-scope">
                        Ja, viele, ohne Erfolg
                    </div>
                </div>
                <img class="tk-image" src="/wp-content/plugins/tkt-leads/img/mann-achselzucken.jpg"/>
            </div>
        </div>

        <div class="tk-question" id="tk-question-goal-scope">
            <h2 class="tk-question-headline-scope">PLACEHOLDER</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Wenig
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Viel
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Sehr viel
                    </div>
                </div>
            </div>
        </div>

        <div class="tk-question" id="tk-question-subgoal">
            <h2>Dieser Bereich ist mir besonders wichtig:</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Bauch
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Beine
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-group">
                        Po
                    </div>
                </div>
                <img class="tk-image" src="/wp-content/plugins/tkt-leads/img/frau-bauchumfang-messen.jpg"/>
            </div>
        </div>

        <div class="tk-question" id="tk-question-group">
            <h2>Am liebsten trainiere ich...</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-question-time">
                        In Gemeinschaft.
                    </div>
                    <div class="tk-answer" data-next-question="tk-question-time">
                        Lieber alleine.
                    </div>
                </div>
                <img class="tk-image" src="/wp-content/plugins/tkt-leads/img/gruppe-junger-frauen-aerobic.jpg"/>
            </div>
        </div>

        <div class="tk-question" id="tk-question-time">
            <h2>Ich nehme mir dafür zukünftig in der Woche...</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-answer="tk-answer-time-low" data-next-question="tk-question-budget">
                        1 bis 2 Stunden
                    </div>
                    <div class="tk-answer" data-answer="tk-answer-time-medium" data-next-question="tk-question-budget">
                        2 bis 3 Stunden
                    </div>
                    <div class="tk-answer" data-answer="tk-answer-time-high" data-next-question="tk-question-budget">
                        mehr als 3 Stunden
                    </div>
                </div>
            </div>
        </div>

        <div class="tk-question tk-question-final" id="tk-question-budget">
            <h2>Mein finanzielles Wochen-Budget für meine Ziele liegt bei...</h2>
            <div class="tk-answer-section">
                <div class="tk-answers">
                    <div class="tk-answer" data-next-question="tk-results-section">
                        Weniger als 13€
                    </div>
                    <div class="tk-answer" data-next-question="tk-results-section">
                        13€ bis 16€
                    </div>
                    <div class="tk-answer" data-next-question="tk-results-section">
                        Mehr als 16€
                    </div>
                </div>
            </div>
        </div>


        <div class="tk-buttons">
            <button type="button" class="tk-previous-button" disabled="disabled">Zurück</button>
        </div>
    </div>


    <div class="tk-results-section" id="tk-results-section">

        <h2>Nur noch einen Klick entfernt!</h2>

        {% if formal %}
            <p>Damit wir Ihnen <b>Ihre Auswertung und Ihren kostenlosen 2-Wochen-Trainingsgutschein</b> schicken können, brauchen wir Ihre E-Mail.</p>
        {% else %}
            <p>Damit wir Dir <b>Deine Auswertung und Deinen kostenlosen 2-Wochen-Trainingsgutschein</b> schicken können, brauchen wir Deine E-Mail.</p>
        {% endif %}

        {{ form_shortcode | wpshortcode }}
    </div>


    {% if formal %}
        <div class="tk-results-hidden">
            ___tk-rawhtml
            <p>Sie sind in einem <b>Alter, in dem die körperlichen Anforderungen zunehmen.</b> <br/>
                Ihnen geht es wie <b>vielen Menschen in Ihrem Alter</b> – sie wollen nun <b>endlich etwas dagegen tun</b> und suchen einen Partner, der sie dabei unterstützt.</p>

            <p>Ihren Wunsch, speziell für <b class="tk-results-goal">GOALTEXT</b> etwas zu tun, verstehen wir sehr gut. Wir können Sie professionell und kompetent auf diesem Weg begleiten.</p>

            <p class="tk-results-goal-experience">PLACEHOLDER</p>

            <p>Ob beim individuellen Training oder auch mal in einer Gruppe in einem Kurs, ganz egal, Sie haben <b>viele Möglichkeiten</b> bei uns <b>Ihre Ziele zu erreichen.</b> Sie werden ein <b>sehr motiviertes und höchst kompetentes Trainer-Team</b> bei Ihren individuellen Wünschen und Zielen unterstützen.<br/>
                Beim <b>Einzeltraining</b> an modernsten Cardio- und Fitness-Geräten oder auch in einem der vielen motivierenden <b>Gruppenkursen</b>, <b>Sie haben die Wahl</b>, zu jeder Zeit, wie immer Sie möchten!</p>

            <p>Mit Sport und Bewegung geht sicher vieles leichter – Ihre individuellen Angaben sind natürlich <b>streng vertraulich</b> und können auf <b>Ihren Wunsch</b> zur Erstellung von <b>Ihren Plänen für Sport, Bewegung und Ernährung herangezogen</b> werden.</p>

            <p>Für diese Pläne und Ihre individuelle Angebotsgestaltung legen Ihr angegebenes Budget von <b class="tk-results-budget">BUDGET</b> und Ihr zeitlicher Rahmen von <b class="tk-results-time">TIMEPERWEEK</b> <b>pro Woche</b>, <span class="tk-results-phrase">BASISPHRASE</span></p>

            <p>Lernen Sie Ihre vielen Möglichkeiten im <b>{{ studio_name }}</b> doch einfach mal persönlich kennen. Besuchen Sie {{ studio_name }} und <b>testen Sie uns</b> auf „Herz und Nieren“ mit Ihrem <b>14 Tage Fitness Pass.</b></p>

            <p>Um einen für Sie passenden <b>1. Kennenlern-Termin</b> zu finden, <b>melden wir uns bei Ihnen</b> in den nächsten Tagen einfach telefonisch.</p>
        </div>
    {% else %}
        <div class="tk-results-hidden">
            ___tk-rawhtml
            <p>Du bist in einem <b>Alter, in dem die körperlichen Anforderungen zunehmen.</b> <br/>
                Dir geht es wie <b>vielen Menschen in Deinem Alter</b> – sie wollen nun <b>endlich etwas dagegen tun</b> und suchen einen Partner, der sie dabei unterstützt.</p>

            <p>Deinen Wunsch, speziell für <b class="tk-results-goal">GOALTEXT</b> etwas zu tun, verstehen wir sehr gut. Wir können Dich professionell und kompetent auf diesem Weg begleiten.</p>

            <p class="tk-results-goal-experience">PLACEHOLDER</p>

            <p>Ob beim individuellen Training oder auch mal in einer Gruppe in einem Kurs, ganz egal, Du hast <b>viele Möglichkeiten</b> bei uns <b>Deine Ziele zu erreichen.</b> Dich werden ein <b>sehr motiviertes und höchst kompetentes Trainer-Team</b> bei Deinen individuellen Wünschen und Zielen unterstützen. <br/>
                Beim <b>Einzeltraining</b> an modernsten Cardio- und Fitness-Geräten oder auch in einem der vielen motivierenden <b>Gruppenkursen</b>, <b>Du hast die Wahl</b>, zu jeder Zeit, wie immer Du möchtest!</p>

            <p>Mit Sport und Bewegung geht sicher vieles leichter – Deine individuellen Angaben sind natürlich <b>streng vertraulich</b> und können auf <b>Deinen Wunsch</b> zur Erstellung von <b>Deinen Plänen für Sport, Bewegung und Ernährung herangezogen</b> werden.</p>

            <p>Für diese Pläne und Deine individuelle Angebotsgestaltung, legen Dein angegebenes Budget von <b class="tk-results-budget">BUDGET</b> und Dein zeitlicher Rahmen von <b class="tk-results-time">TIMEPERWEEK</b> <b>pro Woche</b>, <span class="tk-results-phrase">BASISPHRASE</span></p>

            <p>Lerne Deine vielen Möglichkeiten im <b>{{ studio_name }}</b> doch einfach mal persönlich kennen. Besuche {{ studio_name }} und <b>teste uns</b> auf „Herz und Nieren“ mit Deinem <b>14 Tage Fitness Pass.</b></p>

            <p>Um einen für Dich passenden <b>1. Kennenlern-Termin</b> zu finden, <b>melden wir uns bei Dir</b> in den nächsten Tagen einfach telefonisch.</p>
        </div>
    {% endif %}

</div>
